@charset "utf-8";
body {background-color: #ccc; overflow-y: scroll;}

* {margin: 0; padding: 0; list-style: none; outline: none;}

a {text-decoration: none;}

/* horizantal navbar 1>2>2>2>2>2>2 Technique */
nav {text-align: center;} 
nav ul {background-color: #808080; line-height: 3em; }
nav li {display: inline-block; width: 120px; opacity: 0.8;}
nav a {display: block; color: #fff; }
nav a:hover {background-color: #000; color: #fff;}

/* dropdown menu  */
nav>ul>li>ul {display: none; width: inherit;}
nav>ul>li:hover>ul {display: block; position: absolute;}
